<!DOCTYPE html>


<html lang="en">

<!-- head -->
<head>
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport" />
    <meta name="description" content="Car Repair" />
    <meta name="keywords" content="car wash, car wash template, Car Repair, car repair, auto wash, auto detail, auto detailing, car, cleaning, mechanic, repair, wash, car service, workshop">
    <meta name="author" content="Media City" />
    <meta name="MobileOptimized" content="320" />
    <link rel="icon" type="image/icon" href="~/Images/images/favicon/favicon.ico"> <!-- favicon-icon -->
    <!-- theme style -->
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" type="text/css" /> <!-- bootstrap css -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet" type="text/css" /> <!-- fontawesome css -->
    <link href="~/Content/css/icon-font.css" rel="stylesheet" type="text/css" /> <!-- icon-font css -->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,400i,600,700|Poppins:400,500,700" rel="stylesheet"> <!-- google font -->
    <link href="~/Content/css/menumaker.css" rel="stylesheet" type="text/css" /> <!-- menu css -->
    <link href="~/Content/css/owl.carousel.css" rel="stylesheet" type="text/css" /> <!-- owl carousel css -->
    <link href="~/Content/css/magnific-popup.css" rel="stylesheet" type="text/css" /> <!-- magnify popup css -->
    <link href="~/Content/css/datepicker.css" rel="stylesheet" type="text/css" /> <!-- datepicker css -->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" /> <!-- custom css -->
    <!-- end theme style -->
</head>
<!-- end head -->
<!--body start-->
<body>
    <!-- preloader -->
    <div class="preloader">
        <div class="status">
            <div class="status-message">
            </div>
        </div>
    </div>
    <!-- end preloader -->
    <!--  top bar -->
    <div class="top-bar hidden-xs">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-sm-6">
                    <div class="info-bar">
                        <ul>
                            
                            <li><i class="fa fa-phone" aria-hidden="true"></i>03444444444</li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <div class="top-bar-right">
                       
                        <div class="social-icon">
                            <ul>
                                <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                <li><a href="#" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--  end top bar -->
    <!--  navigation -->
    <div class="nav-bar">
        <div class="container">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="logo">
                       <img src="~/Images/images/logo.png" alt="logo">
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <div class="info-box">
                        <div class="info-box">
                            <div class="info-box-heading"><i class="fa fa-car" aria-hidden="true"></i> Help Line</div>
                            <div class="info-box-details">0321 1234567</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-2 col-sm-3 col-xs-6">
                    <div class="info-box">
                        <div class="info-box-heading"><i class="fa fa-phone" aria-hidden="true"></i> Phone</div>
                        <div class="info-box-details">0321 1234567</div>
                    </div>
                </div>


                <div class="col-md-5 col-sm-3 col-xs-6">
                    <div class="info-box">
                        @Html.Partial("_LoginPartial")
                    </div>
                </div>






          
            </div>
        </div>
        <div class="navigation">
            <div class="container">
                <div id="cssmenu">
                    <ul>
                        <li>
                            <a href="@Url.Action("OurServices","Service")">Home</a>
                        </li>
                        <li>
                            <a href="@Url.Action("Contact","Service")">Contact US</a>
                        </li>
                        <li>
                            <a href="@Url.Action("About","Service")">About US</a>
                        </li>

                        @if (User.IsInRole("Admin"))
                        {
                            <li>
                                <a href="@Url.Action("Index","ServicePortal", new { area="Admin"})">Adminstrator</a>
                            </li>
                        }
                       
                      
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <!--  end navigation -->
   





    <div>

        @RenderBody()

    </div>



    <!--  footer -->
    <footer id="footer" class="footer-main-block">
        <div class="footer-block">
            <div class="container">
                <div class="row">
                    <div class="col-md-4 col-sm-4">
                        <div class="footer-widget">
                            <img src="~/Images/images/logo-white.png" class="img-responsive" alt="logo">
                        </div>
                    </div>
                 
                </div>
            </div>
            <hr>
            <div class="container">
                <div class="row">
                    <div class="col-md-7 col-sm-12">
                        <div class="footer-about footer-widget">
                           
                            <div class="footer-subscribe footer-widget">
                                <div class="social-icon">
                                    <span>Follow us on:</span>
                                    <ul>
                                        <li><a href="#" target="_blank"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                                        <li><a href="#" target="_blank"><i class="fa fa-pinterest" aria-hidden="true"></i></a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6">
                        <div class="footer-services footer-widget">
                            <ul>
                                <li><a href="@Url.Action("OurServices","Service")"><i class="fa fa-caret-right" aria-hidden="true"></i>Home</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>About Us</a></li>
                                <li><a href="@Url.Action("OurServices","Service")"><i class="fa fa-caret-right" aria-hidden="true"></i>Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-services footer-widget">
                            <ul>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Vehicle Hand Wash Service</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Headlight Lens Restoration Service</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Scratch Removal Service</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Tar Removal Service</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Odor Elimination Service</a></li>
                                <li><a href="#"><i class="fa fa-caret-right" aria-hidden="true"></i>Engine Cleaning Service</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <hr>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="copyright-text text-center">
                            <p>&copy; Copyrights 2018 Car Repair | All Rights Reserved.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
    <!--  end footer -->
    <!-- jquery -->
    <script data-cfasync="false" src="../../../cdn-cgi/scripts/d07b1474/cloudflare-static/email-decode.min.js"></script>
    <script type="text/javascript" src="~/Scripts/js/jquery.min.js"></script> <!-- jquery library js -->
    <script type="text/javascript" src="~/Scripts/js/bootstrap.min.js"></script> <!-- bootstrap js -->
    <script type="text/javascript" src="~/Scripts/js/owl.carousel.js"></script> <!-- owl carousel js -->
    <script type="text/javascript" src="~/Scripts/js/jquery.ajaxchimp.js"></script> <!-- mail chimp js -->
    <script type="text/javascript" src="~/Scripts/js/smooth-scroll.js"></script> <!-- smooth scroll js -->
    <script type="text/javascript" src="~/Scripts/js/jquery.magnific-popup.min.js"></script> <!-- magnify popup js -->
    <script type="text/javascript" src="~/Scripts/js/waypoints.min.js"></script> <!-- facts count js required for jquery.counterup.js file -->
    <script type="text/javascript" src="~/Scripts/js/jquery.counterup.js"></script> <!-- facts count js-->
    <script type="text/javascript" src="~/Scripts/js/menumaker.js"></script> <!-- menu js-->
    <script type="text/javascript" src="~/Scripts/js/jquery.appear.js"></script> <!-- progress bar js -->
    <script type="text/javascript" src="~/Scripts/js/jquery.countdown.js"></script>  <!-- event countdown js -->
    <script type="text/javascript" src="~/Scripts/js/price-slider.js"></script> <!-- price slider / filter js-->
    <script type="text/javascript" src="~/Scripts/js/bootstrap-datepicker.js"></script> <!-- bootstrap datepicker js-->
    <script type="text/javascript" src="~/Scripts/js/jquery.elevatezoom.js"></script> <!-- image zoom js-->
    <script type="text/javascript" src="~/Scripts/js/theme.js"></script> <!-- custom js -->
   
    <!-- end jquery -->

    @RenderSection("scripts", required: false)




</body>
<!--body end -->
</html>